<div class="dash_top_bar">
  <ul class="d-flex justify-content-between">
    <li class="ml-1 mr-1"><a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <mat-icon svgIcon="Manage-Inquiries"></mat-icon>&nbsp;
        <span>{{ 'Manage Inquiries' | translate }} </span>
      </a>
    </li>
    <li class="ml-1 mr-1"><a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <mat-icon svgIcon="Daily-Planner"></mat-icon>&nbsp;
        <span>{{ 'Daily Planner' | translate }} </span>
      </a>
    </li>
    <li class="ml-1 mr-1"><a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <mat-icon svgIcon="Vehicle-Type"></mat-icon>&nbsp;
        <span>{{ 'Vehicle Type' | translate }} </span>
      </a>
    </li>
    <li class="ml-1 mr-1"><a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <mat-icon svgIcon="To-Do"></mat-icon>&nbsp;
        <span>{{ 'To Do' | translate }} </span>
      </a>
    </li>
    <li class="ml-1 mr-1"><a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <mat-icon svgIcon="Add-Customer"></mat-icon>&nbsp;
        <span>{{ 'Add Customer' | translate }} </span>
      </a>
    </li>
    <li class="ml-1 mr-1"><a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <mat-icon svgIcon="Make-an-agreement"></mat-icon>&nbsp;
        <span>{{ 'Make an agreement' | translate }} </span>
      </a>
    </li>
  </ul>
</div>