.dash_top_bar {
    background: var(--gray);
    padding:5px;    
    border-radius: 5px;
    ul{ list-style: none; padding-left: 0;box-sizing: border-box; margin-bottom: 0;
        li { flex:0 0 16%; text-align: center; 
            a { font-size: 1.2rem; color:#222; display: flex; text-align: center; align-items: center; justify-content: center;
                mat-icon{ color:#222; width:32px; height: 32px; }
            }
        }
    }
}